@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

:root {
  --color-primary: #394508;
  --color-secondary: #619111;
  --color-secondary-alpha: #61911180;
  --color-tertiary: #d2fd9c;
  --bg-card: #619111;
  --color-white: #fff;
  --color-black: #000;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 100%;
}

section {
  min-height: 100vh;
  width: 100%;
}

main section:first-child {
  background-color: var(--color-primary);
  width: 40%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

main section:last-child {
  background-color: var(--color-white);
  width: 60%;
  min-height: 300vh;
}

.headOfSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.head_section {
  max-width: 80%;
  margin: 0 auto 0 2rem;
}

.headOfSection a {
  background-color: var(--color-tertiary);
  padding: 1rem 2rem;
}

.etran {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--color-white);
}

.btn-standard {
  color: var(--color-primary);
  text-decoration: none;
  border-radius: 5px;
}

.title_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  color: var(--color-white);
  margin-bottom: 2rem;
}

.title_section > p {
  font-weight: 200 !important;
  font-size: 1.5rem;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  margin-top: 4rem;
}

h1 span {
  color: var(--color-tertiary);
}

.cards_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards_container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  background-color: var(--bg-card);
  min-height: 120px;
  min-width: 120px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  border-radius: 6px;
}

.links_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 60%;
}

.links_section a {
  color: var(--color-tertiary);
  text-decoration: none;
}

.container_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
  position: relative;
}

.container_img p {
  color: var(--color-white);
}

.container_img > img {
  border-radius: 20px;
  width: 90%;
  height: 400px;
  object-fit: cover;
  height: auto;
}

.container_icon_text img {
  width: 10%;
  height: auto;
}

.container_icon_text {
  z-index: 3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5px;
  border-radius: 50px;
  background-color: var(--color-secondary-alpha);
}

.container_icon_text div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-tertiary);
  padding: 0.5rem;
  border-radius: 50px;
}

.container_icon_text p {
  margin-right: 1rem;
}

.container_icon_text img {
  width: 100%;
}

#one {
  top: 30%;
  left: 10%;
}

#two {
  top: 10%;
  right: 10%;
}

#three {
  top: 70%;
  left: 40%;
}

main section h2 {
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-tertiary);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.title_main_section {
  width: 100%;
  font-size: 2rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  color: var(--color-black);
}

@media screen and (max-width: 1024px) {
  main {
    flex-direction: column;
  }
  main section:first-child {
    width: 100%;
    position: relative;
  }
  main section:last-child {
    width: 100%;
  }

  main section:last-child > div {
    margin: 0 auto;
  }

  main section:last-child {
    margin-top: 5rem;
  }
}
